<!DOCTYPE html>
<html ng-app="HangmanApp">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/style.css">
    
    <title>Hangman Game</title>
  </head>
  <body ng-controller="GameController" ng-init="newGame()">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="display-3">Hangman Game</h1>
          <p class="lead">Guess the word!</p>
          
          <p class="secret lead" ng-cloak>{{gameVariables.displayWord}}</p>

          <div>
            <p ng-show="gameVariables.incorrectGuessesAllowed" ng-cloak>Incorrect Guesses Left: {{gameVariables.incorrectGuessesAllowed}}</p>
          </div>
          <div class="alert alert-danger" ng-show="!gameVariables.incorrectGuessesAllowed" role="alert" ng-cloak>
            <strong>Oh snap!</strong> Looks like you lost.
          </div>
          <div class="ng-hide" role="alert">
            <strong>Opps!</strong> You have already tried that.
          </div>
          <div class="ng-hide alert alert-success" role="alert" ng-show="gameVariables.userWinStatus">
            <strong>Yayy!!</strong> You won.
          </div>
        </div>
      </div>
      <div class="row input">
        <div class="col-12 text-center">
          
          <form autocomplete="off" name="userInput" ng-submit="checkInput(userInput.$valid)">
            <div class="form-group" ng-class="{'has-warning' : userInput.letter.$error.maxlength}">
              <label for="userGuess" class="sr-only">Enter Letter</label> <!-- for screen readers -->
              <input type="text" name="letter" id="userGuess" placeholder="your guess" id="userInput" class="form-control" ng-trim="true" ng-model="guess" ng-maxlength="1" ng-class="{'form-control-warning' : userInput.letter.$error.maxlength}" required>
              <input type="image" src="src/imgs/bulb.png" height="40"></input>
              <p ng-if="userInput.letter.$error.maxlength" class="form-control-feedback" ng-cloak>
                Please enter <strong>one</strong> letter at a time.
              </p>
            </div>
            <button ng-hide="!gameVariables.incorrectGuessesAllowed || gameVariables.userWinStatus" class="btn btn-primary" type="submit">ENTER</button>
            <button ng-show="!gameVariables.incorrectGuessesAllowed || gameVariables.userWinStatus" class="btn btn-warning" ng-click="newGame()" ng-cloak>New Game!</button>
          </form>

        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center text-danger">
          <span class="incorrectList" ng-if="gameVariables.incorrectGuesses.length" ng-cloak>
            {{gameVariables.incorrectGuesses}}
          </span>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Load AngularJS -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- First game.js, then index.js -->
    <script src="src/js/game.js"></script>
    <script src="src/js/index.js"></script>
  </body>
</html>