<!DOCTYPE html>
<html ng-app="HangmanApp">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
  </head>
  <body ng-controller="GameController">
    <h1>Hangman Game</h1>
    <p>Guess the word!</p>
    <p>{{displayWord}}</p>
    <input type="text" placeholder="your guess" ng-model="guess">
    <button ng-click="checkLetter()">Check</button>
    <p ng-if="guess">You guessed {{guess}} correct?</p>
    <p ng-repeat="item in incorrectGuesses">{{item}}</p>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>