<!DOCTYPE html>
<html ng-app="HangmanApp">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/style.css">
    <title>Hangman Game</title>
  </head>
  <body ng-controller="GameController">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="display-3">Hangman Game</h1>
          <p class="lead">Guess the word!</p>
          
          <p class="secret lead" ng-bind="userDisplayWord()"></p>

          <p id="error"></p>
        </div>
      </div>
      <div class="row input">
        <div class="col-12 text-center">
          
          <form autocomplete="off" name="userInput" ng-submit="checkInput(userInput.$valid)">
            <div class="form-group" ng-class="{'has-warning' : userInput.letter.$error.maxlength, 'has-warning'}">
              <label for="userGuess" class="sr-only">Enter Letter</label> <!-- for screen readers -->
              <input type="text" name="letter" id="userGuess" placeholder="your guess" id="userInput" class="form-control" ng-trim="true" ng-model="guess" ng-maxlength="1" ng-class="{'form-control-warning' : userInput.letter.$error.maxlength}" required>
              <p ng-if="userInput.letter.$error.maxlength" class="form-control-feedback">
                You can only enter <strong>one</strong> letter.
              </p>
            </div>
            <button class="btn btn-primary" type="submit">ENTER</button>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center text-danger">
          <span class="incorrectList" ng-if="userDisplayIncorrectGuesses()" ng-bind="userDisplayIncorrectGuesses()">
            <!-- This is where the incorrect guesses will show. -->
          </span>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- first game.js then index.js -->
    <script src="src/js/game.js"></script>
    <script src="src/js/index.js"></script>
  </body>
</html>